<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'Amazon Clone' %></title>
    <link rel="stylesheet" href="/static/style.css" />
    <script defer src="/public/main.js"></script>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a href="/"> <div class="logo"></div></a>
        <div class="nav-search">
          <input
            id="search-input"
            class="search-input"
            placeholder="Search Amazon"
          />
          <button id="search-btn">Search</button>
        </div>
        <div id="nav-signin" class="nav-signin border">
          <a href="/login">Sign in</a>
        </div>
        <div class="nav-cart border">
          <a href="/cart">Cart (<span id="cart-count">0</span>)</a>
        </div>
      </div>
    </header>

    <main><%- (typeof body !== 'undefined' ? body : '') %></main>

    <footer>
      <div class="foot-panel1">Back To top</div>
    </footer>
  </body>
</html>
